<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamento en bodega</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <main class="container">

        <section class="row">
            <nav class=" row navbar navbar-expand bg-light">
                <div class="container-fluid">
                  <a class=" col-1 navbar-brand " href="#">Home</a>
                  
                  <div class=" col-11 collapse navbar-collapse border border-1 rounded rounded-1" id="navbarSupportedContent">
                    <ul class="  navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="border  nav-item ">
                        <a class="nav-link active" aria-current="page" href="depotProduct.html">Productos en sucursales</a>
                      </li>
                      <li class=" border  nav-item">
                        <a class="nav-link active" href="product.html">Productos</a>
                      </li>

                      <li class=" border  nav-item ">
                        <a class="nav-link active" href="typeProduct.html">Tipo Producto</a>
                      </li>

                      <li class="border nav-item">
                        <a class="nav-link active" href="depot.html">Sucursales</a>
                      </li>

                      <li class=" border  nav-item ">
                        <a class="nav-link active" href="deparment.html">Departamento</a>
                      </li>
                      <li class="border nav-item bg-secondary bg-opacity-50">
                        <a class="nav-link active" href="depotDepartment.html">Departamento en Sucursal</a>
                      </li>

                      
                      <li class="border nav-item">
                        <a class="nav-link active" href="status.html">Status</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </nav>
        </section>

        <section class="row">

            <article class="col">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>ID</th> <th>ID Depot</th> <th>ID Department</th>
                            <th>Max Capacity</th> <th>ID Status</th> <th>Creation Date</th>
                        </tr>
                    </thead>

                    <tbody id="tBody">

                    </tbody>
                </table>
            </article>

        </section>
    </main>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/jquery.soap/jquery.soap.js"></script>
    <script src="../../bower_components/jquery.xml2json/src/jquery.xml2json.js"></script>
    <script src="../script/depotDepartment.js"></script>
</body>
</html>